/* Reset some default browser styles */
body {
    margin: 0;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style the profile section */
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes the image circular */
    overflow: hidden;
    margin-right: 20px; /* Adjust as needed */
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1, h3 {
    margin: 0;
}

/* Style shared section styles */
.about,
.contact,
.skills,
languages,
tools,
experience,
.projects {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.skills-list {
    columns: 2;
    margin: 20px 0;
}

/* Make block titles appear at the top and center */
.about h2,
contact h2,
skills h2,
languages h2,
tools h2,
experience h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.projects h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.project {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.5;
    max-width: 100%;
}

.project-frame {
    background-image: url('gameplay.png');
    background-size: contain;
    background-position: right center; /* Выравнивание справа на ноутбуке */
    background-repeat: no-repeat;
    height: 400px; /* Укажите желаемую высоту */
}

.project-frame1 {
    background-image: url('Word.png');
    background-size: contain;
    background-position: right center; /* Выравнивание справа на ноутбуке */
    background-repeat: no-repeat;
    height: 400px; /* Укажите желаемую высоту */
}

.project img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #333;
}

.project h3 {
    font-size: 20px;
    margin: 10px 0;
    white-space: normal;
    max-width: 100%;
}

.project p {
    font-size: 16px;
    margin: 10px 0;
    white-space: normal;
    max-width: 100%;
}

/* Style project links */
.project a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.project a:hover {
    background-color: #0056b3;
}

/* Style project titles */
.project h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

/* Style project descriptions */
.project p {
    font-size: 16px;
    margin: 10px 0;
    color: #555;
}

/* Media query for laptops */
@media (min-width: 769px) {
    .projects-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 10px;
        justify-content: center;
    }

    .project,
    .project-frame {
        width: 100%;
        margin: 0;
    }

    .project-frame1 {
        width: 100%;
        margin: 0;
    }
}

/* Media query for smartphones */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    h2 {
        font-size: 28px;
    }

    .about,
    .contact,
    .skills,
    .languages,
    .tools,
    .experience,
    .projects {
        margin: 10px;
    }

    .skills-list {
        columns: 1;
    }

    .projects-content {
        display: block;
    }

    .project:last-child,
    .project-frame:last-child {
        margin-bottom: 0;
    }

    .project h3 {
        font-size: 20px;
    }

    .project p {
        font-size: 16px;
    }

	.project-frame {
        background-position: center bottom; /* Выравнивание снизу на телефоне */
        height: 200px; /* Укажите желаемую высоту для мобильных устройств */
    }
}

.skills-list li,
languages li,
tools li {
    margin: 10px 30px;
}

.contact-content p,
.intro p {
    margin-bottom: 10px;
}

.intro,
.contact-content {
    margin: 20px;
}
