body {
    margin: 0;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about,
.contact,
.skills,
.languages,
.projects {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}

.qr-code img {
    max-width: 250px;
    height: auto;
    justify-content: center;
}

li img {
    width: 17px;
    height: 17px;
    margin-right: 1px;
}

.skills-list ul,
.languages-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.skills-list li,
.languages-list li {
    margin: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
}

.about h2,
.contact h2,
.skills h2,
languages h2,
.projects h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.job {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.job h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.job + .job {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.job:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.project {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 0 10px;
    line-height: 1.5;
    width: calc(100% - 40px);
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

.project-frame,
.project-frame1,
.project-frame2 {
    width: 100%;
    height: 400px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

.project-frame img,
.project-frame1 img,
.project-frame2 img{
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #333;
    display: block;
    margin: 0 auto;
}

.project img {
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #333;
    display: block;
    margin: 0 auto;
}

.project h3 {
    font-size: 20px;
    margin: 10px 0;
    white-space: normal;
    max-width: 100%;
}

.project p {
    font-size: 16px;
    margin: 10px 0;
    white-space: normal;
    max-width: 100%;
}

.project a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.project a:hover {
    background-color: #0056b3;
}

@media (min-width: 769px) {
    .projects-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 40px;
        justify-content: center;
    }

    .project,
    .project-frame,
    .project-frame1,
    .project-frame2 {
        width: calc(100% - 40px);
        text-align: center;
        margin: 0 auto;
    }

    .skills-list ul,
    .languages-list ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 20px 0;
    }
    
    .skills-list li,
    .languages-list li {
        margin: 5px;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        white-space: normal; 
    }    
}

@media (min-width: 1920px) {
    .project-frame,
    .project-frame1,
    .project-frame2 {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.skills-list111111 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 20px 0;
}

.skills-list111111 p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.skills-list111111 li {
    margin: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .contact.with-border .skills-list111111 {
        display: flex;
        flex-direction: column;
    }

    .contact.with-border .skills-list111111 ul {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile-image {
        width: 80px;
        height: 80px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .profile-image img {
        width: 100%;
        height: 100%;
    }

    .profile-info {
        text-align: center;
    }

    .profile-info h2 {
        font-size: 20px;
    }

    .profile-info h3 {
        font-size: 16px;
    }

    .modal-content img {
        max-width: 100%; 
        height: auto;
    }

    .project-frame,
    .project-frame1,
    .project-frame2 {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .skills-list111111 ul {
        margin-bottom: 0;
    }
}

@media (min-width: 1920px) {
    .project-frame,
    .project-frame1,
    .project-frame2 {
        overflow: hidden;
    }

    .project-frame img,
    .project-frame1 img,
    .project-frame2 img {
        display: block;
        margin: 0 auto;
        border: 2px solid #333;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.modal-content img {
    max-width: 100%;
    height: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#openModalBtn {
    background-color: #333; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#openModalBtn:hover {
    background-color: #555;
}

#openContactCardBtn {
    display: block;
    margin-top: 20px; 
    text-align: center;
}
