/* General styles for both devices */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 32px;
    text-align: center;
}

/* Shared styles for sections */
.with-border {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 5px;
    text-align: left;
}

/* Reset margin and padding for ul in skills-list */
.skills-list ul {
    margin: 0;
    padding: 0;
}

/* Adjustments to center content */
.with-border {
    text-align: center;
}

/* Center contact buttons */
.contact-buttons {
    display: flex;
    justify-content: center;
}

.contact-button {
    margin: 5px;
}

/* Background color for sections */
.about,
contact,
skills,
languages,
tools,
previous-projects {
    background-color: #fff;
}

/* Add padding to the 'previous-projects' section */
.previous-projects {
    padding: 20px;
}

/* Style for LinkedIn button */
.linkedin-button {
    display: block;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    margin: 15px auto;
    text-align: center;
}

.linkedin-button:hover {
    background-color: #555;
}

/* Styles for projects */
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
}

.project {
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 1.5;
}

.project.with-hover:hover {
    transform: scale(1.05);
}

h2 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    display: block;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    margin-top: 15px;
    text-align: center;
}

a:hover {
    background-color: #555;
}

/* Media query for laptops */
@media (min-width: 769px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
    .project {
        width: calc(50% - 10px);
        min-height: auto;
    }
}

/* Media query for smartphones */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }
    h1 {
        font-size: 28px;
    }
    .about,
    .contact,
    .skills,
    .languages,
    .tools,
    .previous-projects {
        margin: 10px;
    }
    .projects {
        grid-template-columns: 1fr;
    }
    .project {
        width: 90%;
        min-height: auto;
        margin: 10px 0;
    }
    .project:last-child {
        margin-bottom: 0;
    }
    .project h2 {
        font-size: 20px;
    }
    .project p {
        font-size: 14px;
    }
}

/* Media query for devices with a maximum width of 480px (e.g., phones in portrait orientation) */
@media (max-width: 480px) {
    .projects {
        grid-template-columns: 1fr;
    }
    .project {
        width: 90%;
        min-height: auto;
        margin: 10px 0;
    }
    .project:last-child {
        margin-bottom: 0;
    }
    .project h2 {
        font-size: 20px;
    }
    .project p {
        font-size: 14px;
    }
}
